* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #e0f2fe;color:#a652b6; font-family: Arial; }

.container {
  width: 500px;
  margin: 60px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

h1 { text-align: center; margin-bottom: 20px; }

#options li {
  background: #2563eb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#options li:hover { background: #1e40af;}

.btn-box { display: flex; justify-content: space-between; margin-top: 15px; }
button { padding: 10px 15px; cursor: pointer; }

.hide { display: none; }
